<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Grid template areas</title>

</head>
<body>
    <div class="container">


      <!-- header -->
      <div class="item header">
        <h1>Haloo, Mr.F</h1>
        <div class="profile">
          <img src="IMG/man1.png" alt="" style="width: 70px;"><span>Mr. F</span>
        </div>
      </div>
      <!-- Akhir header -->






      <!-- sidebar -->
      <div class="item sidebar">
        <div class="brand"></div>
        <ul class="menu-list">
          <li style="background-color: #D25627 ; box-shadow: 0px 5px 10px #E64C3C;
          border-radius: 10px; "><a style="color: white;" href="#"><img src="img/home (2) 1.png" alt=""><p>Home</p></a></li>
          <li><a href="#"><img src="img/bar-chart (1) 1.png" alt="">Laporan</a></li>
          <li><a href="bahan(daftarmenu).html"><img src="img/shopping-bag 1.png" alt=""><p>Bahan</p></a></li>
          <li><a href="#"><img src="img/settings (1) 1.png" alt=""><p>Role</p></a></li>
          <li><a href="#"><img src="img/shopping-bag 1.png" alt=""><p>User</p></a></li>
        </ul>
      </div>
      <!-- akhir sidebar -->





      <!-- content -->
      <div class="item content">
        <div class="navigasi">
          <div class="daftar-menu"  value="">
            <a href=""><img src="img/menu 1.png" alt=""><span>Daftar Menu</span></a>
          </div>
          <div class="stok">
            <a href="stok.html"><img src="img/open-box 1.png" alt=""><span style="color: black;">Stok</span></a>
          </div>  
        </div> 
        <!-- akhir content -->





        <!-- searchbar -->
        <div class="searchbar">
          <img src="img/magnifying-glass 1.png" alt="">
          <input type="search" name="" id="" placeholder="Temukan pesanan pelanggan">
        </div>
        <!-- akhir searchbar -->






        <!-- menu -->
        <section class="menu">
          <div class="menu-item">
            <div class="border">
              <h3>Rp. 15.000</h3>
              <img src="img/makan-siang-enak-ayam-penyet-ala-pak-gembus-dan-pepes-tahu-ini-resepnya-B2b6byeX0j.jpg" alt="">
            </div>
            <p>Ayam Penyet</p>
          </div>
          <div class="menu-item">
            <div class="menu-item">
              <div class="border">
                <h3>Rp. 10.000</h3>
                <img src="img/images_daging_ayam-bakar-pedas-manis.jpg"alt="">
              </div>
              <p>Ayam Bakar</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item">
              <div class="border">
                <h3>Rp. 15.000</h3>
                <img src="img/b651c473c595f728118644568221637e.jpg" alt="">
              </div>
              <p>Burger</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-item">
              <div class="border">
                <h3>Rp. 15.000</h3>
                <img src="img/5e928e8990b86.jpg" alt="">
              </div>
              <p>Indomie kuah</p>
            </div>
          </div>
          <div class="menu-item">
            <div class="border">
              <h3>Rp. 10.000</h3>
              <img src="img/099632200_1589527804-shutterstock_1455941861.jpg" alt="">
            </div>
            <p>Indomie Goreng</p>
          </div>
          <div class="menu-item">
            <div class="border">
              <h3>Rp. 10.000</h3>
              <img src="img/cara-membuat-roti-bakar-tokomesin6.jpg" alt="">
            </div>
            <p>Roti Bakar</p>
          </div>
        </section>
      </div>
      <!-- Akhir menu -->



    </div>


</body>
</html>